<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Restaurants
      </ion-title>
   
      <ion-buttons slot="primary">
          <ion-button slot="icon-only" color="warning" size="large" routerLink="/addRestaurant" 
          routerDirection="forward">
            <ion-icon slot="end" name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
    
  <ion-content>

      <ion-list>
          <ion-item class="item ios md in-list ion-focusable item-label hydrated"
            *ngFor="let restaurant of restaurants" >
            
        <ion-icon slot="end" class="ios md hydrated" class="ios hydrated" color="success"
          name="eye"  [routerLink]="['/view/', restaurant._id]" routerDirection="forward"></ion-icon>
        <ion-icon slot="end" class="ios hydrated" color="primary"
          name="arrow-dropup-circle" (click)="updateRestaurant(restaurant)"></ion-icon>
        <ion-icon slot="end" class="ios hydrated" color="danger"
          class="ios hydrated" name="close-circle" (click)="alertConfirmDelete(restaurant._id)">
        </ion-icon>
            
            <ion-label [routerLink]="['/view/', restaurant._id]" routerDirection="forward">
              <ion-text color="dark"><h2>{{ restaurant.name }}</h2></ion-text>
              <ion-text><h3>{{ restaurant.category }}</h3></ion-text>
            </ion-label>
          </ion-item>
         
      </ion-list>

  </ion-content>
